<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="./js/config.js"></script>
    <script src="./js/productsTable.js"></script>
    <title>The Craft Stash</title>
    <link rel="stylesheet" href='/Client/CSS/table.css'>
  </head>
  
<body>
  <header>
  </header>
    <nav>
      <ul class="nav-buttons">
        <li><a href="/home">Home</a></li> 
        <li><a href="/write-data">Enter Data</a></li>
        <li><a href="/view-data">View Data</a></li>
        <li><a href="/table">Browse Data</a></li>
      </ul>
    </nav>
    <main id="container">

      <body data-ng-app="tableApp" data-ng-controller="tableCtrl" data-ng-init=" hideForm=true"></body>
      <style>
        table, th, td {
          border: 1px solid black;
          
        }
      </style>  
      
      <section data-ng-hide="hideTable">
        
        <div style=" margin-left: 10px;">
          <label for="groupby">Product Type:</label>
          <select id="groupby"
            data-ng-model=" selectedType"
            data-ng-options=" type.display for type in types"
            data-ng-change="redrawTable()">
          </select>
        </div>

        <div style="margin:20px">
          <table>
            <tr>
              <th>Product Name</th>
              <th>Manufacturer</th>
              <th>Color</th>
              <th>Type</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>

            <tr data-ng-repeat="obj in products">
              <td>{{obj.name}}</td>
              <td>{{obj.manufacturer}}</td>
              <td>{{obj.color}}</td>
              <td>{{obj.type}}</td>
              <td>{{obj.location}}</td>
              <td>{{obj.quantity}}</td>
              <td>
                <button data-ng-click="editProduct($index)">EDIT</button>
              </td>
              <td>
                <button data-ng-click="deleteProduct(obj.name)">DELETE</button>
              </td>
            
            </tr>
          </table>
        </div>
      </section>

        <section data-ng-hide="hideForm">
          <div style="font-size:30px">
            <label data-ng-model ="productID" hidden></label>
          </div>

          <div>
            <label for = "name">Product Name: </label>
            <input type = "text" id="name" data-ng-model = "name">
          </div>

          <div>
            <label for = "manufacturer">Manufacturer: </label>
            <input type = "text" id="manufacturer" data-ng-model = "manufacturer">
          </div>

          <div>
            <label for = "color">Color: </label>
            <input type = "text" id="color" data-ng-model = "color">
          </div>

          <div>
            <label for = "type">Type: </label>
            <input type = "text" id="type" data-ng-model = "type">
          </div>

          <div>
            <label for = "location">Location: </label>
            <input type = "text" id="location" data-ng-model = "location">
          </div>

          <div>
            <label for = "quantity">Quantity: </label>
            <input type = "text" id="quantity" data-ng-model = "quantity">
          </div>

          <div style="float:left; margin-top:30px;">
            <div style="float: left; clear:right;  margin-left: 30px;">
              <button id="submit" data-ng-click="updateProduct()">Update</button>
            </div>
          </div>

          <div style="float:left; margin-top:30px;">
            <div style="float: left; clear:right;  margin-left: 30px;">
              <button id="cancelButton" data-ng-click="cancelUpdate()">Cancel</button>
            </div>
          </div>
          
          <div style= "float: left; clear: left; margin-top: 40px; font-size: 24px; color: green;">{{addResults}}
          </div> 
        </section>
      </div>
    </main>
 </body>
</html>