<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/Client/CSS/styles.css'> 
        <link rel="stylesheet" href='/Client/CSS/view-data.css'>
    
        <title>The Craft Stash</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/Client/js/config.js"></script>
        <script src="/Client/js/browse-data.js" async></script>
    
    </head>
    
        <header>
            <nav>
                <ul class="nav-buttons">
                    <li><a href="/home">Home</a></li> 
                    <li><a href="/write-data">Enter Data</a></li>
                    <li><a href="/view-data">View Data</a></li>
                    <li><a href="/Browse-data">Browse Data</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Browse Data Page</h1>

            <div>
                <body data-ng-app="browseDataApp" data-ng-controller = "browseDataCtrl" >
                    <div style=" font-size: 30px">
                        <div>
                        <label for = "name">Product Name: </label>
                        <label style="margin-left: 30px; color: blue" id="name">{{obj.name}}</label>
                        </div>
                
                        <div>
                        <label for = "manufacturer">Manufacturer: </label>
                        <label style="margin-left: 30px; color: blue" id="type">{{obj.type}}</label>
                        </div>
                
                        <div>
                        <label for = "color">Color: </label>
                        <label style="margin-left: 30px; color: blue" id="effect">{{obj.color}}</label>
                        </div>
                
                        <div>
                        <label for = "location">Location: </label>
                        <label style="margin-left: 30px; color: blue" id="counter-spell">{{obj.location}}</label>
                        </div>
                


                        <div style="float:left; margin-top:30px;">
                        <div style=" float: left;">
                            <button id="previous" data-ng-click="changeProduct(-1)" data-ng-hide = "hidePrev">&lt&lt&lt Previous</button>
                        </div>

                        <div style=" float: left;">
                            <button id="next" data-ng-click="changeProduct(+1)"data-ng-hide = "hideNext" >Next &gt&gt&gt </button>
                        </div>
                    </div> 
                </body>      
            </div>
        </main>    
     
</html>